<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kubaspatny.opendays" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.kubaspatny.opendays.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.kubaspatny.opendays.activity.AuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_authenticator"
            android:noHistory="true" >
        </activity>

        <service android:name="cz.kubaspatny.opendays.oauth.AuthenticationService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="cz.kubaspatny.opendays.activity.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>

        <provider
            android:name="cz.kubaspatny.opendays.database.DbContentProvider"
            android:authorities="cz.kubaspatny.opendays.dbcontentprovider"
            android:exported="false"
            android:readPermission="true"
            android:writePermission="true" >
        </provider>

        <activity
            android:name="cz.kubaspatny.opendays.activity.GuidedGroups"
            android:label="@string/title_activity_guided_groups"
            android:parentActivityName="cz.kubaspatny.opendays.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.kubaspatny.opendays.activity.MainActivity" />
        </activity>
    </application>

</manifest>
